@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
 
.bg-txt-font-family{
    background-color: black;
    color:white;
    font-family: "Quicksand";
}
.fade-effect:hover, .fade-effect:focus, .fade-effect:active{
    background-color: rgb(158, 158, 158);
    color: black;
}
.bg-overlay{
    background-color: black;
}
.bg-modal{
    background-color: rgb(158, 158, 158);
}
#top,#bottom,#center{
    background-color: white;
}
#landing-modal-overlay{
    box-shadow: inset 0 0 20px  black;
}
#landing-modal{
    box-shadow: 0 0 20px  rgb(158, 158, 158);
}
#modal-nav li:hover{
    border-radius: 5px;
    color:black;
    text-shadow: 0 0 10px  white;
}
.perfect-square{
     box-shadow:inset 0px 0px 1px 0px white;
}
#modal-overlay{
     background-color:rgba(0,0,0,0.5);
}
.winning-line{
    background-color:rgb(158, 158, 158);
    color:black;
}
#info:hover{
    text-shadow: 0 0 10px white;
}
#close:hover{
    text-shadow: 0 0 10px white;
}
#info-modal{
    background-color:rgb(158, 158, 158);
}
@media (min-width:1020px){
    div #reset-table,div #reset-scores{
        margin-right:40px;
    }
    #p1,#p2{
        margin-left:40px;
    }
}