@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
 
.bg-txt-font-family{
    background-image:url("https://i.ytimg.com/vi/rufWuHkmohY/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:#be3400;
    font-family: "Acme";
}
.fade-effect:hover, .fade-effect:focus, .fade-effect:active{
    background-color: #a4c100;
    color: white;
}
.bg-overlay{
    background-color: #b74c24;
}
.bg-modal{
    background-color: #747c24;
}
#top,#bottom,#center{
    background-color: black;
}
#landing-modal-overlay{
    box-shadow: inset 0 0 20px  black;
}
#landing-modal{
    box-shadow: 0 0 20px  black;
}
#modal-nav li:hover{
    border-radius: 5px;
    text-shadow: 0 0 10px  black;
}
.perfect-square{
     box-shadow:inset 0px 0px 10px 5px #9b4c38;
}
#modal-overlay{
     background-color:rgba(0,0,0,0.5);
}
.winning-line{
    background-color:#a4c100;;
    color:#ff0000;
}
#top{
 background-color:#be3400; 
}
#center{
 background-color:#be3400;
}
#bottom{
 background-color:#be3400;
}
#score-board{
    background-color:#a4c100;
    box-shadow: inset 0 0 5px 1px #9b4c38;;
}
#info:hover{
    text-shadow: 0 0 10px black;
}
#close:hover{
    text-shadow: 0 0 10px black;
}
#info-modal{
    background-color:#747c24;
}
#reset-table,#reset-scores,#p1,#p2{
border-color: #b74c24;
}
div #reset-table{
margin:-30px 4px 10px 0px;
font-size: 10px;

}
div #reset-scores{
 margin:0;
 font-size: 10px;
}
#p2{
    margin-top:-25px;
}
@media (min-width:1020px){
    div #reset-table,div #reset-scores{
        margin-right:40px;
    }
    #p1,#p2{
        margin-left:40px;
    }
}