@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.light-th-font-family{
    font-family: "Quicksand";
}
.light-th-bg{
    background-color: rgb(217, 238, 250);
}

.perfect-square:hover, .perfect-square:focus, .perfect-square:active{
background-color: rgb(85, 191, 226);
  color: white;
}