@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
 
.bg-txt-font-family{
    background-color: rgb(224, 234, 238);
    color:black;
    font-family: "Quicksand";
}
.fade-effect:hover, .fade-effect:focus, .fade-effect:active{
background-color: rgb(70, 205, 250);
  color: white;
}
.bg-overlay{
    background-color: whitesmoke;
}
.bg-modal{
    background-color: white;
}
#top,#bottom,#center{
    background-color: black;