@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
.bg-txt-font-family{
    background-color:#6600ff;
    color:#55ffff;
    font-family: "Orbitron";
}
.fade-effect:hover, .fade-effect:focus, .fade-effect:active{
    background-color:#55ffff;
    color: #fe4164;
}
#Name-HBB h1{
    width:300px;
}
.bg-overlay{
    background-color: #6600ff;
}
.bg-modal{
    background-color: #fe4164;
}
nav{
    margin-top:5vh;
}
#top,#bottom,#center{
    background-color: #55ffff;
}
#landing-modal-overlay{
    box-shadow: inset 0 0 20px  black;
}
#landing-modal{
    box-shadow: 0 0 20px  black;
}
#modal-nav li:hover{
    border-radius: 5px;
    text-shadow: 0 0 10px  black;
}
.perfect-square{
     box-shadow:inset 0px 0px 1px 0px black;
}
#modal-overlay{
     background-color:rgba(0,0,0,0.5);
}
.hb-container:hover #top{
    background-color: #e60000;
}
.hb-container:hover #center{
    background-color: #e60000;
}
.hb-container:hover #bottom{
    background-color: #e60000;
}