*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    overflow: hidden;
}
#score-board{
    display: flex;
    flex-direction: column;
}
#reset-table{
    align-self: flex-end;
    margin:-32px 3px 10px 0px;
    border-style: outset;
}
#reset-scores{
    align-self: flex-end;
    margin:0px 3px -28px 0px;
    border-style: outset;
}
#p1,#p2{
    width:250px;
    border-style: outset;
}
/*-------------Table Settings----------*/
#table{
    position: absolute;
    width:90vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    top:60%;
    left:50%;
    transform: translate(-48%,-60%);
    text-align: center;
    font-size: 60px;
}
.perfect-square{
    width:33%;
    height:33%;
    padding-top: 5%;
}

/*-----------------Header Setting------------*/
header{
   display:flex;
   flex-direction: column;
}
#Name-HBB h1{
    text-align: center;
    width:200px;
    margin: 15px auto;
}
#theme-name{
    margin:-30px auto 10px auto;
}
/*---------------SCORE BOARD------------------*/
#p2,#p1{
    margin:3px 0px;
}
/* In the near future i want to add a 2 side view on mobile phone. 
Every player to hold the by sides and the score board will be displayed 
for each side*/
.player2-view{ 
-moz-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
transform:rotate(-180deg);
ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); 
text-align: center;
-webkit-transform:rotate(-180deg);
display:none;
}
/*-------Button Settings----------*/
 .button{
     padding:4px 5px;
     border-radius: 2px;
 }
/*------------Ladding Modal-----------------*/

#landing-modal-overlay{
    height: 100vh;
    width:100vw;
    z-index: +2;
    position: fixed;
    top:0;
    left:0;
}
#landing-modal{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
height:95vh;
width:90vw;
border-radius: 5px;
text-align: center;
}
ul li {
     width:300px;
     margin:auto;
     padding:3px;
}
#landing-heading{
    margin-top: 2vh;
    font-size: 2.5em;
}
nav{
    font-size: 24px;
    margin-top:5vh;
}
#modal-nav,#theme-nav{
    list-style-type: none;
    
}
#theme-nav{
    display: none;
    font-size: 16px;
    position: absolute;
    top:35px;
    right:-50px;
    
}

#change-theme{
    width:200px;
    margin:auto;
    position: relative;

}
#change-theme:hover #theme-nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#theme-nav:hover{
    text-shadow: none;
}
/*----------------Victory Modal------*/
#modal-overlay{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index: +1;
}
#modal{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    height:170px;
    z-index: +2;
    transform:translate(-50%,-50%);
    border-radius: 5px;
    text-align: center;
    padding:10px;
}
#modal h2{
 margin:10px 0px;
}
#winner{
    margin:20px 0px;
}
.modal-button{
    margin:20px 5px;
}
#pg-button,#sb-button{
    border-radius:3px;
    padding:5px;
    margin:0 10px;
}
/*----------FADE EFFECT------*/
.fade-effect{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
/*---------------HambugerButton--------------*/
#top,#bottom,#center{
    position:absolute;
    width:80%;
    height:10%;
    margin-left: 10%;
}
.hb-container{
    width:38px;
    height:28px;
    position:relative;
    left:90vw;
    top:-55px;
    border-radius:5px;
}
#top{
 margin-top:13%;
}
#center{
 margin-top:32%;
}
#bottom{
 margin-top:50%;
}
#name-changer-p1{
    display:none;
}
#name-changer-p2{
    display:none;
}
#modal-buttons{
    display: flex;
    justify-content: flex-end;
}
#info,#close{
padding: 0.5em;
}
#close{
    display: none;
}
#info-modal{
    position: absolute;
    z-index: +3;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    top:17%;
    left:12%;
    box-shadow: 0 0 10px black; 
    display:none;
}
#info:hover ~ #info-modal{
    display: initial;
}
@media (min-width:1024px){
    #table{
        top:60%;
        left:50%;
        transform: translate(-48%,-60%);
        width:50vw;
        height: 45vh;
    }
    #landing-modal{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        height:90vh;
        width:50vw;
        border-radius: 5px;
        text-align: center;
        
    }
    #info-modal{
    top:20%;
    left:13%;
    display: none;
    }
}